.resetPassword-container{
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 4px;
}

.blueLabel{
    color: #2014ff;
}

.buttons-container{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2014ff;
}

.buttons-container button{
    border: none;
    background-color: #2014ff;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width : 1225px){
    label{
        font-size: 0.8rem;
    }

    input{
        width: 60%;
    }
}

@media screen and (max-width :  1025px){
    label{
        text-transform: capitalize;

    }
}

@media screen and (max-width : 900px){
    .resetPassword-container{
        width: 65%;
    }
}


@media screen and (max-width : 700px){
    .resetPassword-container{
        width: 80%;
    }
}

@media screen and (max-width : 480px){
    .resetPassword-container{
        width: 100%;
    }
}