.carousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-image-container{
    width: 50%;
    height: 60%;
    margin: auto;
}

.carousel-image-container img{
    width: 100%;
}